{% extends 'base.html' %}
{% load static %}
{% block title %} 정보과학관 {% endblock %}

{% block content %}
<div class="build-container">
    <!-- 건물이름이랑 층 정보 나오는 곳 -->
  <div class="build-informwrap">
      <div class="build-title">
          <h1> 정보과학관 </h1>

          정보과학관 <br>
            {% for classrooms in classrooms %}
            <a href="{% url 'classroom' classrooms.unit classrooms.id %}">{{ classrooms.unit }}</a> <br> 
                {% for classes in classes %}
                    {% if classes.room_id.unit == classrooms.unit %}
                    {% if classes.date1 == now_weekday or classes.date2 == now_weekday %}
                        {% if now_time >= classes.time1 and classes.time2 >= now_time %}
                            <div style = "background-color: #EF9297;">
                                {{ classes.sub_id.name }} <br>
                                사용중입니다 <br>
                            </div>
                        {% else %}
                            {{ classes.sub_id.name }} <br>
                        {% endif %}
                    {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}

      </div>
  </div>
    
    <!-- 층별로 정보나오도록 -->
    <div class="build-lectureinfo-wrap">

      <div class="floorinfo" id="floor-first">
          <h2>1층</h2>
      </div>
      <div class="lectureinfo-container">
          <div class="lectureinfo-box">
              <div class="lecture-img">
                <img class="img-src" src = "{% static 'img/6106.png' %}">
              </div>
              <div class="lectureinfo">
                  <div class="lecturecon poss">
                      <span>사용 가능</span>
                  </div>
                    <h1>F6106</h1>
                </div>
          </div>
          <div class="lectureinfo-box">
              <div class="lecture-img">
                <img class="img-src" src = "{% static 'img/6110.png' %}">
              </div>
              <div class="lectureinfo">
                  <div class="lecturecon imposs">
                      <span>사용 불가</span>
                  </div>
                    <h1>F6110</h1>
                </div>
          </div>
      </div>

      <div class="floorinfo" id="floor-second">
          <h2>2층</h2>
      </div>

      <div class="lectureinfo-container">
          <div class="lectureinfo-box">
              <div class="lecture-img">
                <img class="img-src" src = "{% static 'img/6201.png' %}">
              </div>
              <div class="lectureinfo">
                <div class="lecturecon imposs">
                  <span>사용 불가</span>
                </div>
                <h1>F6201</h1>
              </div>
          </div>

          <div class="lectureinfo-box">
              <div class="lecture-img">
                  <img class="img-src" src = "{% static 'img/6202.png' %}">
              </div>
              <div class="lectureinfo">
                <div class="lecturecon imposs">
                  <span>사용 불가</span>
                </div>
                <h1>F6202</h1>
              </div>
          </div>

          <div class="lectureinfo-box test" onclick="Modal()">
              <div class="lecture-img">
                <img class="img-src" src = "{% static 'img/6206.png' %}">
              </div>
              <div class="lectureinfo">
                <div class="lecturecon imposs">
                    <span>사용 불가</span>
                </div>
                  <h1>F6206</h1>
              </div>
          </div>
      </div>
      <div class="floorinfo" id="floor-third">
        <h2>3층</h2>
      </div>

          <h1 style="font-size: 1.3rem;">이 층은 공학계열 교수님 연구실이 있는 층입니다. </h1>

      <div class="floorinfo fourth" id="floor-fourth">
        <h2>4층</h2>
      </div>

      <div class="lectureinfo-container">
          <div class="lectureinfo-box">
              <div class="lecture-img">
                <img class="img-src" src = "{% static 'img/6402.png' %}">
              </div>
              <div class="lectureinfo">
                  <div class="lecturecon imposs">
                      <span>사용 불가</span>
                  </div>
                    <h1>F6402</h1>
                </div>
          </div>
          <div class="lectureinfo-box">
              <div class="lecture-img">
                <img class="img-src" src = "{% static 'img/6403.png' %}">
              </div>
              <div class="lectureinfo">
                  <div class="lecturecon imposs">
                      <span>사용 불가</span>
                  </div>
                    <h1>F6403</h1>
                </div>
          </div>
          <div class="lectureinfo-box">
              <div class="lecture-img">
                <img class="img-src" src = "{% static 'img/6404.png' %}">
              </div>
              <div class="lectureinfo">
                  <div class="lecturecon imposs">
                      <span>사용 불가</span>
                  </div>
                    <h1>F6404</h1>
                </div>
          </div>
          <div class="lectureinfo-box">
              <div class="lecture-img">
                <img class="img-src" src = "{% static 'img/6405.png' %}">
              </div>
              <div class="lectureinfo">
                  <div class="lecturecon imposs">
                      <span>사용 불가</span>
                  </div>
                    <h1>F6405</h1>
                </div>
          </div>
          <div class="lectureinfo-box">
              <div class="lecture-img">
                <img class="img-src" src = "{% static 'img/6406.png' %}">
              </div>
              <div class="lectureinfo">
                  <div class="lecturecon imposs">
                      <span>사용 불가</span>
                  </div>
                    <h1>F6406</h1>
                </div>
          </div>
      </div>
    </div>
</div>
<div class="lec-modal">
  <div class="mod-content">
    <div class="modal-header">
      <span class="closebtn">&times;</span>
    </div>
    <div class="modal-body">
      아아아ㅏ아
    </div>
  </div>
</div>
<script src="{% static 'js/modal.js' %}"></script>

{% endblock %} 
