{% extends 'base.html' %}
{% load static %}
{% block title %} 피츠버그홀 {% endblock %}

{% block content %}
<div class="build-container">
    <!-- 건물이름이랑 층 정보 나오는 곳 -->
  <div class="build-informwrap">
      <div class="build-title">
          <h1> 피츠버그홀 </h1>
      </div>
  </div>
    
    <!-- 층별로 정보나오도록 -->
    <div class="build-lectureinfo-wrap">
      <div class="floorinfo" id="floor-first">
          <h2>1층</h2>
      </div>

      <div class="lectureinfo-container">
        
        {% for classrooms in classrooms %}
        {% if classrooms.unit == "9101" %}
          <a href="{% url 'classroom' classrooms.unit classrooms.id %}" class="lectureinfo-box">
            <div class="lecture-img">
              <img class="img-src" src = "{{classrooms.image.url}}">
            </div>
            <h1>{{ classrooms.unit }}</h1>
            {% for classes in classes %}
            
            <!-- 강의의 강의실의 번호와 강의실의 번호가 같으면 -->
            {% if classes.room_id.unit == classrooms.unit %} 
            <!-- 오늘 강의가 없으면 못통과 -->
            {% if classes.date1 == now_weekday or classes.date2 == now_weekday %}
              <div class="lectureinfo">
                
                <!-- 오늘 강의의 시간 -->
                {% if now_time >= classes.time1 and classes.time2 >= now_time %}
                <div class="lecturecon imposs">
                  <span>사용 불가</span>
                </div>
                {% endif %}
              </div>
            {% endif %}
            {% endif %}
            {% endfor %}

          </a>
        {% endif %}
        {% endfor %}
      </div>

      <div class="floorinfo" id="floor-second">
          <h2>2층</h2>
      </div>

      <h1 style="font-size: 1.7rem;">이번 학기 강의를 진행하지 않습니다. <br>
    </h1>

      <div class="floorinfo" id="floor-third">
        <h2>3층</h2>
      </div>

      <div class="lectureinfo-container">
        
        {% for classrooms in classrooms %}
        {% if classrooms.unit == "9301" %}
          <a href="{% url 'classroom' classrooms.unit classrooms.id %}" class="lectureinfo-box">
            <div class="lecture-img">
              <img class="img-src" src = "{{classrooms.image.url}}">
            </div>
            <h1>{{ classrooms.unit }}</h1>
            {% for classes in classes %}
            
            <!-- 강의의 강의실의 번호와 강의실의 번호가 같으면 -->
            {% if classes.room_id.unit == classrooms.unit %} 
            <!-- 오늘 강의가 없으면 못통과 -->
            {% if classes.date1 == now_weekday or classes.date2 == now_weekday %}
              <div class="lectureinfo">
                
                <!-- 오늘 강의의 시간 -->
                {% if now_time >= classes.time1 and classes.time2 >= now_time %}
                <div class="lecturecon imposs">
                  <span>사용 불가</span>
                </div>
                {% endif %}
              </div>
            {% endif %}
            {% endif %}
            {% endfor %}

          </a>
        {% endif %}
        {% endfor %}
      </div>

      <div class="floorinfo fourth" id="floor-fourth">
        <h2>4층</h2>
      </div>

      <h1 style="font-size: 1.7rem;">이번 학기 강의를 진행하지 않습니다. <br>
      </h1>

    </div>
    <div class="floor-anchor">
      <ul>
        <li class="floanchor"><button type="button" onclick="icontoggle()"><i id="icon" class="fa-solid fa-xmark"></i></button></li>
        <li class="floor active fade-in-bottom"><a href="#floor-first">1</a></li>
        <li class="floor active fade-in-bottom"><a href="#floor-second">2</a></li>
        <li class="floor active fade-in-bottom"><a href="#floor-third">3</a></li>
        <li class="floor active fade-in-bottom" ><a href="#floor-fourth">4</a></li>
      </ul>

    </div>
</div>

<script>
// 층 클릭하는 곳
var stairs = document.getElementById("icon");
var floor = document.getElementsByClassName("floor");
var floanchor = document.getElementsByClassName("floanchor")[0];
function icontoggle(){
  stairs.classList.toggle("fa-xmark");
  stairs.classList.toggle("fa-stairs");
  for(i=floor.length-1;i >= 0; i--){
    floor[i].classList.toggle("active");
  }

}
</script>

<script src="{% static 'js/modal.js' %}"></script>

{% endblock %} 
