{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/build.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'img/maplogo.png' %}">
    <title>{% block title %} base {% endblock %}</title>
</head>
<body>
    <!-- 전체 사이트 레이아웃을 위한 container -->
    <div class="container">

        <div class="nav">
            <!-- 메뉴바, index 로고  -->
            <div class="nav1">
              <label for="checkbox" class="hbmenu">
                <input type="checkbox" id="checkbox" onclick="menutoggle()">
                <span class="line line-main"></span>
                <span class="line line-split"></span>
              </label>

              <div id="menu__container" class="nmenu">
                <div id="menu__box" class="">
                  <div class="menu_header">
                    <a href="{% url 'index' %}">
                      <img class="nav-img menu_img" src="{% static 'img/logo_ver1.png' %}">
                    </a>
                  </div>
                  <div class="menu_body">
                    <ul class="menu_list">
                      <li><a href="{% url 'introduce' %}"><span><i class="fa-solid fa-map"></i></span><span>소개</span></a></li>
                      <li><a href="{% url 'sy_gwan' %}"><span>1</span><span>승연관</span></a></li>
                      <li><a href="{% url 'im_gwan' %}"><span>2</span><span>일만관</span></a></li>
                      <li><a href="{% url 'wd_gwan' %}"><span>3</span><span>월당관</span></a></li>
                      <li><a href="{% url 'nn_gwan' %}"><span>5</span><span>나눔관</span></a></li>
                      <li><a href="{% url 'jg_gwan' %}"><span>6</span><span>정보과학관</span></a></li>
                      <li><a href="{% url 'scn_gwan' %}"><span>7</span><span>새천년관</span></a></li>
                      <li><a href="{% url 'library' %}"><span>8</span><span>중앙도서관</span></a></li>
                      <li><a href="{% url 'pb_hall' %}"><span>9</span><span>피츠버그홀</span></a></li>
                      <li><a href="{% url 'gdin_gwan' %}"><span>10</span><span>구두인관</span></a></li>
                      <li><a href="{% url 'mgell_gwan' %}"><span>11</span><span>미가엘관</span></a></li>
                      <li><a href="{% url 'sbdr_school' %}"><span>12</span><span>성베드로학교</span></a></li>
                      <li><a href="{% url 'dormitory' %}"><span>13</span><span>행복기숙사</span></a></li>
                    </ul>
                  </div>
                  <div class="menu_footer">
                    <a href="{% url 'feedback' %}">개발자에게 피드백하기</a>
                  </div>
                </div>
              </div>

            </div>
            <div class="nav2">
                <a href="{% url 'index' %}">
                    <img class="nav-img" src="{% static 'img/logo_ver2.png' %}">
                </a>
            </div>
        </div>


        <!-- 안에 컨텐츠 상속 -->
        {% block content %}
        
        {% endblock %}
    </div>
    <script src="{% static 'js/menutoggle.js' %}" type="text/javascript"></script>
</body>
</html>
