{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/build.css' %}">
    <title>{% block title %} base {% endblock %}</title>
</head>
<body>
    <!-- 전체 사이트 레이아웃을 위한 container -->
    <div class="container">
        <div class="main-nav">
            <ul class="nav-links">
                <li><a href="#">승연관</a></li>
                <li><a href="#">새천년관</a></li>
                <li><a href="#">일만관</a></li>
            </ul>
            
            <div class="toggle">
                <div class="line-1"></div>
                <div class="line-2"></div>
                <div class="line-3"></div>
            </div>
            <div>
                <a href="{% url 'index' %}">
                    <img class="nav-img" src="{% static 'img/logo_ver2.png' %}">
                </a>
            </div>
        </div> 


        <!-- 안에 컨텐츠 상속 -->
        {% block content %}
        
        {% endblock %}
    </div>
    <script src="{% static 'js/navtoggle.js' %}" type="text/javascript"></script>
</body>

</html>