{% extends 'base.html' %}
{% load static %}
{% block title %} {{ classroom.unit }} {% endblock %}

<!-- 강의실 detail -->


{% block content %}
<div class="detail-container">
  <div class="detail-header">
    <div class="dtlecture-img">
      <img src="{{classroom.image.url}}">
    </div>
    <div class="dtlecture-title">
      <h2>#{{ classroom.kwan_name }}</h2>
      <h1>{{ classroom.unit }}</h1>
    </div>
    {% for classes in classes %}
    {% if classroom.unit == classes.room_id.unit %}
    {% if classes.date1 == now_weekday or classes.date2 == now_weekday %}
    {% if now_time >= classes.time1 and classes.time2 >= now_time %}
    <div class="detail-status">
        <p><i class="fa-solid fa-ban"></i></p>

        <p></i>현재 <strong>{{ classes.sub_id.name }}</strong> 강의 중입니다.</p>

    </div>

    {% endif %}
    {% endif %}
    {% endif %}
{% endfor %}
    
    <!--강의실 예약 버튼-->
    <button><a href="https://tis.skhu.ac.kr/app-nexa/index.html" target= "_blank">강의실 예약</a></button>
    
  </div>
  
  <div class="detail-radio-header">
    <div class="radio-container">
      <div class="radio-btn">
        <!-- onchange="timetabletoggle()" -->
        {% if now_weekday == '월' %}
        <input type="radio" name="button" value="월" id="rdo-mon" checked>
        {% else %}
        <input type="radio" name="button" value="월" id="rdo-mon">
        {% endif %}
        <label for="rdo-mon" >월</label>
      </div>
      <div class="radio-btn">
        {% if now_weekday == '화' %}
        <input type="radio" name="button" value="화" id="rdo-tue" checked>
        {% else %}
        <input type="radio" name="button" value="화" id="rdo-tue">
        {% endif %}
        <label for="rdo-tue">화</label>
      </div>
      <div class="radio-btn">
        {% if now_weekday == '수' %}
        <input type="radio" name="button" value="수" id="rdo-wed" checked>
        {% else %}
        <input type="radio" name="button" value="수" id="rdo-wed">
        {% endif %}
        <label for="rdo-wed">수</label>
      </div>
      <div class="radio-btn">
        {% if now_weekday == '목' %}
        <input type="radio" name="button" value="목" id="rdo-thu" checked>
        {% else %}
        <input type="radio" name="button" value="목" id="rdo-thu">
        {% endif %}
        <label for="rdo-thu">목</label>
      </div>
      
      <div class="radio-btn">
        {% if now_weekday == '금' %}
        <input type="radio" name="button" value="금" id="rdo-fri" checked>
        {% else %}
        <input type="radio" name="button" value="금" id="rdo-fri">
        {% endif %}
        <label for="rdo-fri">금</label>
      </div>
    </div>
  </div>
  <div class="detail-radio-container">
    {% if now_weekday == '월' %}
    <div class="radio-detail" id="mon" style="display: block;">
    {% else %}
    <div class="radio-detail" id="mon" style="display: none;">
    {% endif %}
        {% if mon_classes == '공강' %}
        <div class="classes-item">
            <div class="emptytime">
              <i class="fa-solid fa-x" style="color: #ee3e54; font-size: 3rem;"></i>
              <h1>월요일은 수업이 없습니다.</h1>
            </div>
          </div>
        {% else %}
            {% for classes in classes %}
                {% if classroom.unit == classes.room_id.unit %}
    
                {% if classes.date1 == "월" %}
                <div class="classes-item">
                    <div class="classes-time">
                      <p>{{ classes.time1 }}</p>
                      <p> ~ </p>
                      <p>{{ classes.time2 }}</p>
                    </div>
                    <div class="classes-name">
                      <h1>{{ classes.sub_id.name }}</h1>
                      <h2>{{ classes.prof_id.name }}</h2>
                      <div class="classes-inform">
                          <div class="informblock">{{classes.sub_id.code}}</div>
                          <div class="informblock">{{classes.sub_id.kind}}</div>
                        </div>
                    </div>
  
                  </div>
                  <div class="empty-classes">
                  </div>
                {% endif %}
                {% endif %}
            {% endfor %}    
        {% endif %}
    </div>
    
    {% if now_weekday == '화' %}
    <div class="radio-detail" id="tue" style="display: block;">
    {% else %}
    <div class="radio-detail" id="tue" style="display: none;">
    {% endif %}

        {% if tue_classes == '공강' %}
            <div class="classes-item">
              <div class="emptytime">
                <i class="fa-solid fa-x" style="color: #ee3e54; font-size: 3rem;"></i>
                <h1>화요일은 수업이 없습니다.</h1>
              </div>
            </div>
        {% else %}
            {% for classes in classes %}
                {% if classroom.unit == classes.room_id.unit %}
    
                {% if classes.date1 == "화" %}
                <div class="classes-item">
                    <div class="classes-time">
                      <p>{{ classes.time1 }}</p>
                      <p> ~ </p>
                      <p>{{ classes.time2 }}</p>
                    </div>
                    <div class="classes-name">
                      <h1>{{ classes.sub_id.name }}</h1>
                      <h2>{{ classes.prof_id.name }}</h2>
                      <div class="classes-inform">
                          <div class="informblock">{{classes.sub_id.code}}</div>
                          <div class="informblock">{{classes.sub_id.kind}}</div>
                        </div>
                    </div>
  
                  </div>
                  <div class="empty-classes">
                  </div>
                {% endif %}
                {% endif %}
            {% endfor %}    
        {% endif %}
            <br>
    </div>
    
    {% if now_weekday == '수' %}
    <div class="radio-detail" id="wed" style="display: block;">
    {% else %}
    <div class="radio-detail" id="wed" style="display: none;">
    {% endif %}
        {% if wed_classes == '공강' %}
        <div class="classes-item">
            <div class="emptytime">
              <i class="fa-solid fa-x" style="color: #ee3e54; font-size: 3rem;"></i>
              <h1>수요일은 수업이 없습니다.</h1>
            </div>
          </div>
        {% else %}
            {% for classes in classes %}
                {% if classroom.unit == classes.room_id.unit %}
    
                {% if classes.date1 == "수" or classes.date2 == "수" %}
                <div class="classes-item">
                    <div class="classes-time">
                      <p>{{ classes.time1 }}</p>
                      <p> ~ </p>
                      <p>{{ classes.time2 }}</p>
                    </div>
                    <div class="classes-name">
                      <h1>{{ classes.sub_id.name }}</h1>
                      <h2>{{ classes.prof_id.name }}</h2>
                      <div class="classes-inform">
                          <div class="informblock">{{classes.sub_id.code}}</div>
                          <div class="informblock">{{classes.sub_id.kind}}</div>
                        </div>
                    </div>
  
                  </div>
                  <div class="empty-classes">
                  </div>
                {% endif %}
                {% endif %}
            {% endfor %}    
        {% endif %}
            <br>
    </div>
    
    {% if now_weekday == '목' %}
    <div class="radio-detail" id="thu" style="display: block;">
    {% else %}
    <div class="radio-detail" id="thu" style="display: none;">
    {% endif %}
        {% if thu_classes == '공강' %}
        <div class="classes-item">
            <div class="emptytime">
              <i class="fa-solid fa-x" style="color: #ee3e54; font-size: 3rem;"></i>
              <h1>목요일은 수업이 없습니다.</h1>
            </div>
          </div>
        {% else %}
            {% for classes in classes %}
                {% if classroom.unit == classes.room_id.unit %}
    
                {% if classes.date1 == "목" or classes.date2 == "목" %}
                <div class="classes-item">
                    <div class="classes-time">
                      <p>{{ classes.time1 }}</p>
                      <p> ~ </p>
                      <p>{{ classes.time2 }}</p>
                    </div>
                    <div class="classes-name">
                      <h1>{{ classes.sub_id.name }}</h1>
                      <h2>{{ classes.prof_id.name }}</h2>
                      <div class="classes-inform">
                          <div class="informblock">{{classes.sub_id.code}}</div>
                          <div class="informblock">{{classes.sub_id.kind}}</div>
                        </div>
                    </div>
  
                  </div>
                  <div class="empty-classes">
                  </div>
                {% endif %}
                {% endif %}
            {% endfor %}    
        {% endif %}
        <br>
    </div>
    
    {% if now_weekday == '금' %}
    <div class="radio-detail" id="fri" style="display: block;">
    {% else %}
    <div class="radio-detail" id="fri" style="display: none;">
    {% endif %}
        {% if fri_classes == '공강' %}
        <div class="classes-item">
            <div class="emptytime">
              <i class="fa-solid fa-x" style="color: #ee3e54; font-size: 3rem;"></i>
              <h1>금요일은 수업이 없습니다.</h1>
            </div>
          </div>
        {% else %}
            {% for classes in classes %}
                {% if classroom.unit == classes.room_id.unit %}
                {% if classes.date1 == "금" or classes.date2 == "금" %}
                <div class="classes-item">
                  <div class="classes-time">
                    <p>{{ classes.time1 }}</p>
                    <p> ~ </p>
                    <p>{{ classes.time2 }}</p>
                  </div>
                  <div class="classes-name">
                    <h1>{{ classes.sub_id.name }}</h1>
                    <h2>{{ classes.prof_id.name }}</h2>
                    <div class="classes-inform">
                        <div class="informblock">{{classes.sub_id.code}}</div>
                        <div class="informblock">{{classes.sub_id.kind}}</div>
                      </div>
                  </div>

                </div>
                <div class="empty-classes">
                </div>
                {% endif %}
                {% endif %}
            {% endfor %}    
        {% endif %}
        
    </div>
  </div>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="{% static 'js/timetabletoggle.js' %}"></script>
{% endblock %}