<!-- 강의실 detail -->
{% extends 'base.html' %}
{% load static %}
{% block title %} 강의실번호 {% endblock %}

{% block content %}
<div class="detail-container">
  <div class="detail-header">
    <div class="dtlecture-img">
      <img src="{% static 'img/6201.png' %}">
    </div>
    <div class="dtlecture-title">
      <h2>#정보과학관</h2>
      <h1>6201</h1>
    </div>
  </div>
  <div class="detail-status">
    <p><i class="fa-solid fa-ban"></i></p>
    <!-- <p><i class="fa-regular fa-circle-check"></i></p> -->
    <p></i>현재 <strong>웹 개발 입문</strong> 강의 중입니다.</p>
  </div>
  
</div>
{% endblock %}