{% extends 'base.html' %}
{% load static %}
{% block title %} 비밀번호 확인 {% endblock %}

{% block content %}

<div class="feedback-container">
  <div class="fb-wrap" style="margin-top: 15rem;">
    <form method="POST">
        {% csrf_token %}
    <div class="fd-head">
        <h1> 글 작성 시 입력했던 비밀번호를 입력해주세요 </h1>
        <span style="color: gray;">비밀번호가 일치해야 수정 및 삭제가 가능합니다.</span>
        {% if error %}
        <p style="color: red; font-size: 1.5rem;">비밀번호가 일치하지 않습니다.</p>
        {% endif %}
      </div>
      
        

        <div class="pscheck-wrap ">
          <div class="inputform pscheck">
            <input type="password" name="check_password" maxlength="4" id="id_check_password">
            <label for="id_check_password">비밀번호 입력</label>
          </div>
          <button type="submit">확인</button>
        </div>
 
        
      </form>
      <div class="smbutton">
        <a href="{% url 'index' %}">홈으로</a>
      </div>
  </div>
</div>



{% endblock %}