/* 순천체 볼드 */
@font-face {
    font-family: 'SuncheonB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/SuncheonB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 순천체 레귤러 */
@font-face {
    font-family: 'SuncheonR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/SuncheonR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* css 기본 세팅 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 62.5%; */
	/* font: inherit; */
	vertical-align: baseline;
    font-family: 'SuncheonB'; 
}

html {font-size: 62.5%;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* 기본 색상 두기 */
:root {
    --nav-color: #006600; /* 네브바 컬러 */
    --road-color: #408C40; /* 길 */
    --build-color: #B9DC9D; /* 건물 */
    --subnav-color: #EBECDC; /* 방위표 주변 네브 */
    /* 정의된 색상 사용하고 싶으면 var(변수명)으로 작성하기 */
    /* ex ) background-color: var(--nav-color) */
}

/* ---------- 기본 상태 끝 ---------- */
/* base */
a {
    font-size: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
}

.main-nav2 {
    display: flex;
    background-color : var(--nav-color);
    height: 10vh;
    position: sticky;
    top: 0;
    align-content: center;
    align-items: center;
}


/* main페이지에 있는 nav */
.main-nav1 {
    display: flex;
    background-color : white;
    height: 10vh;
    position: sticky;
    top: 0;
    align-content: center;
    align-items: center;
    z-index: 50;
}



.nav-links {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 0px;
    top: 10vh;
    border: gray 1px solid;
    height: 100vh;
    width: 20%;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
}

.nav-links li {
    opacity: 0;
}

.nav-links .toggle1 {
    display: block;
    cursor: pointer;
}

.nav-links .toggle2 {
    display: block;
    cursor: pointer;
}


.toggle2 div {
    margin: 10px;
    transition: all 0.3s ease;
    width: 30px;
    height: 3px;
    background: white;
    cursor: pointer;
}

.toggle1 div {
    margin: 10px;
    transition: all 0.3s ease;
    width: 30px;
    height: 3px;
    background: var(--nav-color);
    cursor: pointer;
}

.toggleAnimation .line-1 {
    transform: rotate(-45deg) translate(-3px, 15px);
}
.toggleAnimation .line-2 {
    opacity: 0;
}
.toggleAnimation .line-3 {
    transform: rotate(45deg) translate(-3px, -15px);
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(5px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* nav 수정하고 새로만든 것 */
.nav {
    top: 0;
    display: flex;
    padding-right: 1vw;
    /* padding: 0 1vw 0 1vw; */
    background-color: var(--nav-color);
    position: fixed;
    height: 60px;
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid #eee;
}
.nav1 {
    display: inline-flex;
    align-items: center;
    position: relative;
}
#checkbox {
    display: none;
    z-index: 5;
  }
.hbmenu {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    cursor: pointer;
    float: left;
  }
.line {
    position: absolute;
    width: 20px;
    z-index: 2;
    left: 10px;
    right: 0;
    top: 20px;
    bottom: 0;
    z-index: 10;
}
.line-main::before,
.line-main::after,
.line-split::before,
.line-split::after {
    content: "";
    position: absolute;
    width: inherit;
    height: 2px;
    background-color: white;
    transition: transform 0.5s;
}
.line-main::before {
  transform: translateY(-7px);
}
  .line-main::after {
    transform: translateY(7px);
  }
  .line-split::before,
  .line-split::after {
    width: 10px;
    transition: transform 0.5s, opacity 0.5s;
  }
  .line-split::after {
    transform: translateX(10px);
  }
  #checkbox:checked ~ .line-main::before {
    transform: rotate(45deg);
    background-color: black;
  }
  #checkbox:checked ~ .line-main::after {
    transform: rotate(-45deg);
    background-color: black;
  }
  #checkbox:checked~.line-split::before{
    opacity: 0;
    background-color: black;
  }
  #checkbox:checked~.line-split::after{
    opacity: 0;
    background-color: black;
  }
#menu__box {
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fff;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
    z-index: 1;
    display: flex;
    flex-direction: column;
  }
.menu{
    left: 0 !important;
    transition-duration: .25s;
}
.nmenu{
    display: none; 
    margin-left: 300px;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);
}
.nav2 {
    width: 100%;
}
.nav2 a{
    display: block;
    width: 220px;
    height: 60px;
}
.nav-img {
    position: absolute;
    width: 220px;
    top: 5%;
}

/* ----------------여기서부터는 build base ---------------- */
/* build base */
.build-title {
    font-size: 2.5em;
}
.build-container {
    width: 1728px;
    margin-left: auto;
    margin-right: auto;
}
.build-informwrap {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
}

.floorinfo {
    width: 100%;
    margin-top: 5rem;
    font-size: 2rem;
}

.lectureinfo-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;

}

.lectureinfo-box {
    display: flex;
    flex-direction: column;
    width: 24%;
    margin-bottom: 1%;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .4) 0px 4px 10px 0px;
    overflow: hidden;
}
.lecture-img {
    width: 100%;
    position: relative;
    padding-top: 52.1921%;
}
.img-src {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.lectureinfo {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    width: 100%;
    flex-direction: column;
    font-size: 1.4rem;
    margin: 1.5rem;
    gap: 1rem;
}
.lecturecon {
    width: 60px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.9rem;
    border-radius: 4px;
    color: #fff;
}
.imposs {
    background-color: #ee3e54;
}
.poss {
    background-color: #93bc39;
}

/* feedback.html */
.feedback-container {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}

.feedback-container h1, h2 {
    display: inline-block;
    margin: auto;
    margin-bottom: 2%;
}

.fb-txt {
    border-radius: 20px;
    width: 80%;
    height: 30vh;
    border: gray 1px solid;
    resize: none;
    padding: 10px;
    margin: auto;
    font-family: 'SuncheonB'; 
    font-size: 2em;
}

.feedback-container input {
    all: unset;
    background-color: var(--build-color);
    width: 20vw;
    height: 8vh;
    border-radius: 50px;
    font-family: 'SuncheonB';
    font-size: 3rem;
    margin: auto;
    text-align: center;
    margin-top: 5%;
}

/* 모바일 버전 */
@media (max-width: 1919px){ 
    .build-container {
        width: 1376px;
    }
}

@media (max-width: 1440px){
    .build-container {
        width: 1024px;
    }
}

@media (max-width: 1065px){
    .build-container {
        width: calc(100% - 2rem);
    }
    .lectureinfo-box {
        width: 49%;
        margin-bottom: 1%;
    }
}